@keyframes move_left {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

.move_left {
  animation: move_left;
}

.move_right {
}

.move_up {
}

.move_down {
}

.flag_background {
  background-image: linear-gradient(
    90deg,
    hsl(0deg 0% 100%) 0%,
    hsl(344deg 0% 84%) 65%,
    hsl(344deg 0% 69%) 88%,
    hsl(0deg 0% 55%) 100%
  );
}

.left_gradient_mask {
  -webkit-mask-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-size: 100% 50%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left top, left bottom;
}

.go_behind_animation {
  animation-name: _go_behind;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes _go_behind {
  from {
    scale: 100%;
    filter: brightness(100%);
  }
  to {
    scale: 50%;
    filter: brightness(50%);
  }
}

.go_toward_animation {
  animation-name: _go_toward;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes _go_toward {
  from {
    scale: 50%;
    filter: brightness(50%);
  }
  to {
    scale: 100%;
    filter: brightness(100%);
  }
}
