@keyframes move_left {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

.move_left {
  animation: move_left;
}

.move_right {
}

.move_up {
}

.move_down {
}

.flag_background {
  background-image: url("../assets/4_top.png");
  background: rgb(15, 54, 182);
  background: radial-gradient(
    circle,
    rgba(15, 54, 182, 1) 50%,
    rgba(4, 45, 127, 1) 100%
  );
}

.left_gradient_mask {
  -webkit-mask-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-size: 100% 50%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left top, left bottom;
}

.go_behind_animation {
  animation-name: _go_behind;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes _go_behind {
  from {
    scale: 100%;
    filter: brightness(100%);
  }
  to {
    scale: 50%;
    filter: brightness(50%);
  }
}

.go_toward_animation {
  animation-name: _go_toward;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.tada_animation {
  animation-name: _tada;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes _tada {
  0% {
    scale: 500%;
  }
  25% {
    scale: 50%;
  }
  50% {
    scale: 200%;
  }
  75% {
    scale: 75%;
  }
  100% {
    scale: 100%;
  }
}

@keyframes _go_toward {
  from {
    scale: 50%;
    filter: brightness(50%);
  }
  to {
    scale: 100%;
    filter: brightness(100%);
  }
}
